body {
    color: #ffffff;
    background: url("../img/bg.png") repeat;
    font-family: 'Shadows Into Light', cursive, Georgia, serif;
}

h1 {
    -moz-text-shadow: 0 0 10px #ff0000;
    -webkit-text-shadow: 0 0 10px #ff0000;
    text-shadow: 0 0 10px #ff0000;
}

.col-md-3 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.row {
    margin: auto;
}

img {
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
}

img:hover {
    transform: scale(0.95, 0.95);
}